        body {
            font-family: Arial, sans-serif;
            background-color: #3184e9;
        }

        h2{
            background-color: #e12727;
            border-radius: 5px;

        }

        .form-container {
            width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border: 2px solid #333;
            border-radius: 8px;
            text-align: center;
        }

        .form-container label {
            display: block;
            margin-top: 15px;
            text-align: left;
        }

        .form-container input[type="text"],
        .form-container select {
            width: 100%;
            padding: 6px;
            margin-top: 5px;
        }

        .form-container button {
            margin-top: 20px;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .registrar {
            background-color: #4CAF50;
            color: white;
        }

        .resetear {
            background-color: #f44336;
            color: white;
            margin-left: 10px;
        }